<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>
      Solve the following IVP.
      <me><%= ode %>\hspace{2em}<%= ivs %></me>
    </p>
  </statement>
  <answer>
    <me><%= ly %></me>
    <me><%= ly_simp %></me>
    <me><%= sol %></me>
  </answer>
</exercise>
