<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>
      A <m><%= m %></m> kg mass is attached to a spring with
      constant <m><%= k %></m> N/m. The mass is pulled outward
      <m><%= x_0 %></m> meters and released from rest.
      Then after <m><%= t_h %></m> seconds, the mass is struck
      by a hammer, imparting <m><%= i %></m> Newtons of inward
      impulse.
    </p>
    <p>
      Give an IVP that models this scenario,
      then solve it. Use your solution to find the
      position of the mass when <m>t=<%= t_q %></m>.
    </p>
  </statement>
  <answer>
    <p>An IVP modeling this scenario is given by:</p>
    <me><%= ode %>\hspace{2em}x(0)=<%= x_0 %>,x'(0)=0</me>
    <p>This IVP solves to:</p>
    <me><%= sol %></me>
    <p>
      It follows that when <m>t=<%= t_q %></m>,
      the position of the mass is <m><%= x_q %></m>
      meters.
    </p>
  </answer>
</exercise>
