<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>
      A mass of <m><%= mass %></m> kg is thrown horizontally
      with an initial velocity of <m><%= initial_v %></m> meters per second,
      experiencing an initial air resistance of <m><%= initial_F %></m> Newtons.
      Assume that acceleration due to gravity is roughly 9.81 
      <m>\textrm{m}/\textrm{s}^2</m>.
    </p>
    <p>
      Write an initial value problem (IVP) modeling the 
      horizontal velocity of this mass.
      Then solve this IVP to compute the mass's horizontal velocity after
      <m><%= elapsed_t %></m> seconds. 
    </p>
  </statement>
  <answer>
    <p>
      The IVP is given by
      <me>
        <%= mass %>v'=-<%= drag_coeff %>v^2 
        \hspace{3em} 
        v(0)=<%= initial_v %>
      </me>
    </p>
    <p>
      The velocity after
      <m><%= elapsed_t %></m> seconds
      is approximately <m><%= elapsed_v %></m>
      meters per second. 
    </p>
  </answer>
</exercise>
