<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>
      Find the largest interval for which the IVP Existence and Uniqueness
      Theorem guarantees a unique solution for the following IVP.
    </p>
    <me><%= ode %>\hspace{2em}<%= iv %></me>
  </statement>
  <answer>
    <me><%= interval %></me>
  </answer>
</exercise>
