<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>Find the solution to the given system of IVPs.</p>
    <me><%= x_ode %>\hspace{2em}x(0)=<%= x0 %></me>
    <me><%= y_ode %>\hspace{2em}y(0)=<%= y0 %></me>
  </statement>
  <answer>
    <me><%= x_sol %></me>
    <me><%= y_sol %></me>
  </answer>
</exercise>
