<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>
      Two species, <%= x_fish %> and <%= y_fish %>,
      compete for the same resources. Suppose their
      populations satisfy the following system of
      ODEs:
    </p>
    <me><%= dxdt %></me>
    <me><%= dydt %></me>
    <p>
      Draw an appropriate phase plane. Then,
      assuming that the current population is 
      <%= x_init %> <%= x_fish %> and
      <%= y_init %> <%= y_fish %>,
      determine the long-term survival of
      both species.
    </p>
  </statement>
  <answer>
    <p><%= equils %></p>
    <p>
      In the long term, <%= long_term %>.
    </p>
  </answer>
</exercise>
